

/*background gradients link:
https://stackskills.com/courses/228011/lectures/3547914 
*/


body{
	background-image: url("../img/laptopImg.jpg");
	background-size: cover; /*this is JUST for targeting a background image. It ensures that the image fills the whole page*/
	background-repeat: no-repeat; /*stop image being tiled if it's too small for page (NOT NEEDED HERE)*/
	
}


.container{
	/*background-color: darkslateblue;*/
	background: linear-gradient(#99c2ff, #0052cc); 
	/*background: linear-gradient(to right, #99c2ff, #0052cc);  change gradient from left to right*/ 
	/*background: linear-gradient(to left, #99c2ff, #0052cc);  change gradient from right to left*/ 
	box-shadow: 3px 5px 3px black; /*vertical axis, horizontal axis, blur radius, shadow colour*/
}

h1, h2, h3{ /*apply the styles below styles to ALL of these elements (elements of any type can be grouped)++++++++++++++++++++++++++++++++++++*/
	color: #ffffff; /*font colour*/
	text-shadow: 2px 2px 5px black; /*vertical axis, horizontal axis, blur radius, shadow colour*/
	line-height: 1rem; /*relative to the font size of the root element +++++++++++++++++++++++++++++++++++++++++++++++*/
	font-family: sans-serif;
}


.borderImg{
	border: 8px solid red;/*border width, border type, colour */ /*'Border' is a blanket statement that includes lots of other specific statements like 'border-bottom-color'*/
	/*border: 8px dashed red;*/
	/*border: 8px dotted red;*/
	height: 20%;
	width: 20%;
}

/*============================= */

/* DESCENDANTS:*/
ul li { /*targeting all li with a ul parent (at ANY level above it)*/
	color: white;
	font-size: 20px;
}

/*============================= */

/* CHILD SELECTORS:*/

ul > li { /*targeting all li with a ul parent at a DIRECT level above it)*/
	color: yellow;
}















