
/*------------------------------------------------------------------------*/
/*Defaults*/

nav,header,footer{
	display: block; /*give elements a display that takes up he whole width of the viewport */
}

body{
	line-height: 1; /*space between text */
	/*below gives everything in the body a margin of 0. (sucks everything edge-to-edge) 
	If not given as 0, then browsers will add their own margin amounts */
	margin: 0; 
	
}

/*------------------------------------------------------------------------*/
/*Nav bar*/

nav{
	width: 100%; /*always takes up 100% of the viewport width*/
	margin: 0; 
}

/*targeting the nav's ul*/
nav ul{ 
	background-color: #eeeeee;
	overflow: hidden; /*hide any elements too big for screen (eg dont create a scroll bar instead!)*/
	margin: 0; 
	padding: 0; 
}

/*targeting the li within the ul with class="topNav"*/
ul.topNav li{ 
	list-style: none; /*remove bullet points from list*/
	float: left; /*float elements to left*/
}

/*targeting the li with a class of "topNav-right" within the the ul with class="topNav"*/
ul.topNav li.topNav-right{ 
	float: right; /*float elements to right*/
}

/*li anchors*/
ul.topNav li a{
	display: block;
	text-decoration: none; /*remove link underlines*/
	min-height: 16px; /*give a minimum height to font (regardless of screen size)*/
	padding: 14px;/*give padding to elements*/
	text-transform: uppercase;
	color: #666666;
}

/*targeting the anchor link's hover action*/
ul.topNav li a:hover{
	background-color: #0080ff;
	color: #ffffff;
}

/* hide the hamburger icon*/
ul.topNav li.dropdownIcon{
	display: none;
}


/*------------------------------------------------------------------------*/
/*Mobile Styles*/

/*
+ @media - tells the browser that we have a media query
+ screen - tells browser to detect the media screen on desktop, tablet & mobiles (to detect the screen widths).
+ (max-width: 680px) - tell browser when to start making mobile styles (when width becomes less than 680px)
+ :not(:nth-child(1)) - a 'not selector'. targeting the 1st child element
*/
@media screen and (max-width: 680px){
	
	ul.topNav li:not(:nth-child(1)) { /*target all li children of 'ul.topNav', EXCEPT the 1st child (the 'Home' link) */
		display: none; /*remove element from display*/
	} 
	
	ul.topNav li.dropdownIcon{
		display: block; /*display as a block element*/
		float: right; /*was inheriting float left from "ul.topNav li" above*/
	} 
	
	/*targeting the menubutton to stay in it's original position (not be changed like the other li below)*/
	ul.topNav.responsive li.dropdownIcon{
		position: absolute; 
		top: 0; /*stay 0 from top*/
		right: 0; /*stay 0 from right*/
	}
	
	/*targeting the new nav ul classname (renamed after menubutton click event)*/
	topNav.responsive{
		position: relative;
	}
	
	/*targeting the list items of new ul classname */
	ul.topNav.responsive li{
		display: inline;
		float: none; /*override a previous float left (line 36)*/
	}
	
	ul.topNav.responsive li a{
		display: block;
		text-align: left; /*override a previous text-align*/
	}
}



























