
/*------------------------------------------------------------------------*/
/*Defaults*/

nav,header,footer{
	display: block; /*give elements a display that takes up he whole width of the viewport */
}

body{
	line-height: 1; /*space between text */
	/*below gives everything in the body a margin of 0. (sucks everything edge-to-edge) 
	If not given as 0, then browsers will add their own margin amounts */
	margin: 0; 
	
}

.container{
	width:100%;
	margin: auto; /*center the container around the margins*/
	padding-top: 4%; /*padding extends the element (from its center)*/
	padding-bottom: 4%;
}

/*----rows & columns:----*/

.row{
	width: 100%; /*give width of full viewport */
	display: flex; /*grabs any elements in the row that have flex added to them, and helps them change size +++++++++++++*/
	flex-wrap: wrap; /*'wrap' the contents of the row as it flexes*/
	align-items: center; /*center the contents within the flex container (as they wrap during flexing)*/
}

/*insert directly after each row class */
.row::after{ 
	display: table; /*Let the element behave like a <table> element*/
	clear: both; /*don't allow floating elements to either side of the element*/
	content ""; /*clear out any previous content (start afresh)*/
}

.col-1{ width: 8.33%;} /*100% of the viewport divided by 12 = 8.33*/
.col-2{ width: 16.66%;}
.col-3{ width: 25%;} /*this class takes up 25% of the viewport*/
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;} /*this class takes up 50% of the viewport*/
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}  /*this class takes up 75% of the viewport*/
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;} 
.col-12{ width: 100%;} /*this class takes up 100% of the viewport*/

/*------------------------------------------------------------------------*/
/*Nav bar*/

nav{
	width: 100%; /*always takes up 100% of the viewport width*/
	margin: 0; 
}

/*targeting the nav's ul*/
nav ul{ 
	background-color: #eeeeee;
	overflow: hidden; /*hide any elements too big for screen (eg dont create a scroll bar instead!)*/
	margin: 0; 
	padding: 0; 
}

/*targeting the li within the ul with class="topNav"*/
ul.topNav li{ 
	list-style: none; /*remove bullet points from list*/
	float: left; /*float elements to left*/
}

/*targeting the li with a class of "topNav-right" within the the ul with class="topNav"*/
ul.topNav li.topNav-right{ 
	float: right; /*float elements to right*/
}

/*li anchors*/
ul.topNav li a{
	display: block;
	text-decoration: none; /*remove link underlines*/
	min-height: 16px; /*give a minimum height to font (regardless of screen size)*/
	padding: 14px;/*give padding to elements*/
	text-transform: uppercase;
	color: #666666;
}

/*targeting the anchor link's hover action*/
ul.topNav li a:hover{
	background-color: #0080ff;
	color: #ffffff;
}

/* hide the hamburger icon*/
ul.topNav li.dropdownIcon{
	display: none;
}


/*------------------------------------------------------------------------*/
/*Mobile Styles*/

/*
+ @media - tells the browser that we have a media query
+ screen - tells browser to detect the media screen on desktop, tablet & mobiles (to detect the screen widths).
+ (max-width: 680px) - tell browser when to start making mobile styles (when width becomes less than 680px)
+ :not(:nth-child(1)) - a 'not selector'. targeting the 1st child element
*/
@media screen and (max-width: 680px){
	
	ul.topNav li:not(:nth-child(1)) { /*target all li children of 'ul.topNav', EXCEPT the 1st child (the 'Home' link) */
		display: none; /*remove element from display*/
	} 
	
	ul.topNav li.dropdownIcon{
		display: block; /*display as a block element*/
		float: right; /*was inheriting float left from "ul.topNav li" above*/
	} 
	
	/*targeting the menubutton to stay in it's original position (not be changed like the other li below)*/
	ul.topNav.responsive li.dropdownIcon{
		position: absolute; 
		top: 0; /*stay 0 from top*/
		right: 0; /*stay 0 from right*/
	}
	
	/*targeting the new nav ul classname (renamed after menubutton click event)*/
	topNav.responsive{
		position: relative;
	}
	
	/*targeting the list items of new ul classname */
	ul.topNav.responsive li{
		display: inline;
		float: none; /*override a previous float left (line 36)*/
	}
	
	ul.topNav.responsive li a{
		display: block;
		text-align: left; /*override a previous text-align*/
	}
}


/*------------------------------------------------------------------------*/
/*Custom Styles*/


#section1Gradient{
	background-color: #076DFF; /* For browsers that do not support gradients */
	background: linear-gradient(#076DFF, #65A5FF);
}

.leftSide-col{
	margin-left: 30%;  /*given a % due to flex in .row*/
}


h1.large{
	color: #ffffff;
	font-size: 56px;
	margin: 0;
	line-height: 70px;
}

form h2{ /*target every h2 within a form tag */
	color: #ffffff;
}

/*attribute selector */
input[type="text"]{ /*all input tags where type="text" */
	font-size: 20px;
	width: 400px;
	min-width: 100px; /*min width (regardless of viewport size)*/
	padding: 5px; /*add space from within the element*/
}















