

body{
	background-color: #444444;
}


img{
	max-width: 100%; /*tells image width to ALWAYS take up 100% of the element it's in (div tag in this case)*/
	height: auto;
	padding: 5px;
	opacity: 1; /*range of between 0-1*/
	/*margin: 60px;/*Puts space around an element, pushing it away from other elements around it. Takes px or %. */
	margin: auto;  /*horizontally center the element within its container. +++++++++++++++++++++++++*/
	display: block; /*Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width  +++++++++++++++++++++++++*/
}

.borderImg{
	border-radius: 10%; /*Rounds image corners. takes px or %. (50% gives perfect circle if image is perfect square)*/
	height: 200px; /*takes px or %*/
	width: 200px; /*takes px or %*/
	border: 2px solid #dddddd; /*size, type, colour */
	padding: 5px;/*space between border and img*/
	
}

button{
	color: white;
	background: red;
	border-radius: 12px;
	border: none; 
	font-size: 25px;
	/*padding: 20px; /* enlarges the element from it's center point*/
	/*padding: 10px 50px; /* 10px added on top & bottom, 50px to left & right*/
	padding: 10px 20px 40px;  /*10px added on top, 20px to right, 40px to bottom, 20px to left*/
	/*padding: 10px 20px 40px 30px;  /*10px added on top, 20px to right, 40px to bottom, 30px to left*/
}	

/*==========================from this lesson:===========*/
.row{
	display: flex; /*element flexes with the width of the viewport as it changes sizes*/
	width: 100%; /*row ALWAYS takes up 100% of the viewport*/
}

/*++++++++++++++++++IMPORTANT!!++++++++++++++++*/
.row::after{ /*every time a row is created we want something to happen after it*/
	display: block; /*stack the rows upon each other*/
	clear: both; /*doesn't allow any floating elements to either side (both) of this element (it 'clears' their float property) */
	content: ""; /*clear content with an empty string*/
}

/*row ALWAYS takes up 100% of the viewport*/
.col-1{ width: 8.33%;} /*100% of the viewport divided by 12 = 8.33*/
.col-2{ width: 16.66%;}
.col-3{ width: 25%;} /*this class takes up 25% of the viewport*/
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;} /*this class takes up 50% of the viewport*/
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}  /*this class takes up 75% of the viewport*/
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;} 
.col-12{ width: 100%;} /*this class takes up 100% of the viewport*/


/*target ALL elements	 ++++++++++++++++++++++++++++++++++++++++++++++*/
*{
	
	/*elements with padding and margins can display larger than they actually are
	box-sizing property with this value takes any of the padding & margin and makes it part of the total
	dimension of that element */
  box-sizing: border-box;  /*If you set box-sizing: border-box; on an element padding and border are included in the width and height*/
}


/*ATTRIBUTE SELECTOR - targets all elements with a specified attribute*/
[class*="col-"]{ /*target ALL classes that are equal to "col-"*/
	border: 2px solid red;
	padding: 15px;
	float: left; /*stacks the columns from left to right*/
}







/*=====================================================*/
